/*
 * SPDX-FileCopyrightText: 2025 NOI Techpark <digital@noi.bz.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.noi-weather-icon {
  font-family: "noi-digiway-weather-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: never;
  user-select: none;

  display: inline-block;
  margin-top: -2px;
}

/* POPUP */
.noi-weather-popup {
  font-size: initial;
}

/* HEADER */
.noi-weather-popup .popup__header {
  padding: 0 32px 0 16px;
  display: flex;
  align-items: center;
  gap: 0.5ch;
  min-height: 32px;
  font-weight: bold;
}

.noi-weather-popup .popup__header-icon {
  height: 1.5em;
}

.noi-weather-popup .popup__section {
  padding: 4px 16px;
}

.noi-weather-popup .popup__section.popup__section--hero {
  font-weight: bold;
  text-transform: capitalize;
}

.noi-weather-popup .popup__section.popup__section--background {
  padding: 8px 16px;
  background: var(--color-background-shade, #f0f0f0);
}

.noi-weather-popup .popup__panel {
  display: flex;
  align-items: center;
  gap: 0.5ch;
}

.noi-weather-popup .popup__panel-body {
  flex: 1;
  text-align: center;
}

.noi-weather-popup .popup__table {

  display: grid;
  /* Two columns of exactly equal width */
  grid-template-columns: repeat(2, 1fr);
  /* Two rows of exactly equal height */
  grid-template-rows: repeat(2, 1fr);

  /*overflow-x: auto;*/
  /*white-space: nowrap;*/
  /*scroll-behavior: smooth;*/
  /*position: relative;*/
  /*scrollbar-color: var(--scrollbar-color, initial) var(--scrollbar-bg, initial);*/
}

.noi-weather-popup .popup__value {
  font-size: 1.2em;
}

.noi-weather-popup .popup__values-group {
  padding: 0.25em 0.5em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* 1. Apply a default right and bottom border to every cell */
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
/* 2. Remove right border for cells in the second column (even items) */
.noi-weather-popup .popup__values-group:nth-child(2n) {
  border-right: none;
}

/* 3. Remove bottom border for cells in the second row (last two items) */
.noi-weather-popup .popup__values-group:nth-child(n+3) {
  border-bottom: none;
}
