/*
 * SPDX-FileCopyrightText: 2025 NOI Techpark <digital@noi.bz.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.noi-weather-icon {
  font-family: "noi-digiway-weather-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: never;
  user-select: none;

  display: inline-block;
  margin-top: -2px;
}

/* POPUP */
.noi-weather-popup {
  font-size: initial;
}

/* HEADER */
.noi-weather-popup .popup__header {
  padding: 0 32px 0 16px;
  display: flex;
  align-items: center;
  gap: 0.5ch;
  min-height: 32px;
  font-weight: bold;
}

.noi-weather-popup .popup__header-icon {
  height: 1.5em;
}

.noi-weather-popup .popup__section {
  padding: 4px 16px;
}

.noi-weather-popup .popup__section.popup__section--hero {
  font-weight: bold;
  text-transform: capitalize;
}

.noi-weather-popup .popup__section.popup__section--background {
  padding: 8px 16px;
  background: var(--color-background-shade, #f0f0f0);
}

.noi-weather-popup .popup__panel {
  display: flex;
  align-items: center;
  gap: 0.5ch;
}

.noi-weather-popup .popup__panel-body {
  flex: 1;
  text-align: center;
}

.noi-weather-popup .popup__table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /*overflow-x: auto;*/
  /*white-space: nowrap;*/
  /*scroll-behavior: smooth;*/
  /*position: relative;*/
  /*scrollbar-color: var(--scrollbar-color, initial) var(--scrollbar-bg, initial);*/
}

.noi-weather-popup .popup__values-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

