/*
 * SPDX-FileCopyrightText: 2025 NOI Techpark <digital@noi.bz.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

/* POPUP */
.noi-map-layer-announcements-popup {
  font-size: initial;
}

/* HEADER */
.noi-map-layer-announcements-popup .popup__header {
  padding: 0 16px;
  display: flex;
  align-items: center;
  gap: 0.5ch;
  min-height: 32px;
}

.noi-map-layer-announcements-popup .popup__header-icon {
  height: 1em;
}

/* DESCRIPTION */
.noi-map-layer-announcements-popup .popup__status {
  padding: 8px 16px;
  background-color: rgba(207, 217, 231, 1);
}

.noi-map-layer-announcements-popup .popup__name {
  padding: 8px 16px;
  font-weight: bold;
}

.noi-map-layer-announcements-popup .popup__description {
  padding: 8px 16px;

  font-size: 10pt;
}

/* SECTION */
.noi-map-layer-announcements-popup .popup__section {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5ch;
  flex-wrap: wrap;

  font-size: 10pt;
}

.noi-map-layer-announcements-popup .popup__section-name {
  font-weight: bold;
  font-size: 0.9em;
}

.noi-map-layer-announcements-popup .popup__section-value {
  text-align: right;
}

